In [1]:
import pandas as pd
import numpy as np
import requests
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Read data
df = pd.read_csv('wildfires_with_geocoord.csv', parse_dates=True)

# some data wrangling
df['month'] = pd.to_datetime(df.alarm_date).dt.strftime('%b')
df.dropna(subset='month', inplace=True)
grouped = df.groupby(['month', 'year']).count()
grouped.reset_index(inplace=True)
grouped = grouped[['month', 'year', 'agency']]
grouped.columns = ['month', 'year', 'count']
grouped.sort_values('year', inplace=True)
grouped.to_csv('wildfires_grouped_task4_2.csv', index=False)

In [12]:
df_12_months = pd.DataFrame(columns=['month'], data={'month':
                                                     ['Jan', 'Feb', 'Mar',
                                                   'Apr', 'May', 'Jun',
                                                   'Jul', 'Aug', 'Sep',
                                                   'Oct', 'Nov', 'Dec']})
# df_years = pd.DataFrame(columns=['year'], data={'year':np.arange(1898,2019)})
# temp = df_years.merge(df_12_months, how='cross')
# t.head(30)
grouped.month=grouped.month.astype(str)
df_12_months.month=df_12_months.month.astype(str)
grouped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 795 entries, 0 to 529
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   month   795 non-null    object
 1   year    795 non-null    int64
 2   count   795 non-null    int64
dtypes: int64(2), object(1)
memory usage: 24.8+ KB

In [15]:
grouped.merge(df_12_months, how='outer', left_on='month', right_on='month').sort_values('year')

    month  year  count
0     Apr  1898      1
49    Sep  1898      2
156   Aug  1902      1
265   Oct  1903      1
353   Jun  1907      1
..    ...   ...    ...
741   Dec  2017      5
706   May  2017      7
155   Sep  2017     28
636   Nov  2017      1
707   May  2018      1

[795 rows x 3 columns]

In [ ]:
t

In [ ]:
df_4_3 = pd.read_csv('wildfires_grouped_task4_2.csv')
fig_5 = px.bar(df_4_3, x="month", y="count", title="Seasonality Of Wildfires by Their Cause",
            # facet_row='year', 
            # facet_col_wrap=1,
            # facet_row_spacing=0.007,
            height=400,
            width=1000,
            text_auto=True,
            animation_frame='year'
            # category_orders={'cause': order_list},
            )
fig_5.update_xaxes(tickvals=np.arange(1,13), ticktext=['Jan', 'Feb', 'Mar',
                                                   'Apr', 'May', 'Jun',
                                                   'Jul', 'Aug', 'Sep',
                                                   'Oct', 'Nov', 'Dec'])
fig_5.update_yaxes(title_font={'size':1})
xaxis = go.layout.YAxis(
        tickangle = 45)
# fig_5.for_each_annotation(lambda a: a.update(text=a.text.split("- ")[1].split("/")[0]))
fig_5.update_yaxes(matches=None)

fig_5.show()